{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'whale.gif' %}">
    <title>非表示案件一覧</title>
</head>
<body>
    <div class="mt-3 mb-5">

        <!-- メニュー -->
        <div style="margin: 0 auto; width: 1100px">
            {% include "sfa/menu.html" with act_user=act_user %}
        </div>

        <div style="margin: 0 auto; width: 1100px;">
            <hr>
            <div class="block_title">非表示案件一覧（最新300件）</div>
            <hr>

            <!-- フィルター -->
            <div>
                <form action="{% url 'sfa:hidden_search' %}" method="post">{% csrf_token %}                    
                    <div class="flex mt-4">
                        <div>見積番号：</div>
                        <div><input class="form-control form-control-sm" type="text" name="mitsu_num" style="width: 100px;" value="{{ses.mitsu_num}}"></div>
                        <div style="margin-left: 30px;">会社名：</div>
                        <div><input class="form-control form-control-sm" type="text" name="com" style="width: 200px;" value="{{ses.com}}"></div>
                        <div style="margin-left: 30px;">姓：</div>
                        <div><input class="form-control form-control-sm" type="text" name="cus_sei" style="width: 70px;" value="{{ses.cus_sei}}"></div>
                        <div style="margin-left: 30px;">名：</div>
                        <div><input class="form-control form-control-sm" type="text" name="cus_mei" style="width: 70px;" value="{{ses.cus_mei}}"></div>
                        <div style="margin-left: 30px;">
                            <button type="submit" class="btn btn-secondary btn-sm"><i class="bi bi-search"></i> 検索</button>
                        </div>
                    </div>
                </form>    
            </div>
            <hr>

            <div style="margin-bottom: 10px;">
                <button class="btn btn-outline-primary btn-sm" type="button" id="btn_hidden"><i class="bi bi-eye"></i> 再表示</button>
            </div>
            <div>
                {% for h in list %}

                {% if h.status == "見積中" %}
                <div class="flex main_0" style="background-color: #FFF; margin-top: 5px;">
                {% elif h.status == "見積送信" %}
                <div class="flex main_0" style="background-color: #ceffb7; margin-top: 5px;">
                {% elif h.status == "イメージ" %}
                <div class="flex main_0" style="background-color: #c8f7fd; margin-top: 5px;">
                {% elif h.status == "受注" %}
                <div class="flex main_0" style="background-color: #fff9a7; margin-top: 5px;">
                {% elif h.status == "発送完了" %}
                <div class="flex main_0" style="background-color: #dbbbff; margin-top: 5px;">
                {% elif h.status == "キャンセル" %}
                <div class="flex main_0" style="background-color: #c5c5c5; margin-top: 5px;">
                {% elif h.status == "終了" %}
                <div class="flex main_0" style="background-color: #ffbcbc; margin-top: 5px;">
                {% elif h.status == "保留" %}
                <div class="flex main_0" style="background-color: #FFF; margin-top: 5px;">
                {% endif %}
                    <div style="width: 30px;"><input class="form-check-input" type="checkbox"  id="{{h.mitsu_id}}" name="hidden_list"></div>
                    <div style="width: 100px;">{{h.make_day}}</div>
                    <div style="width: 100px;"><a href="{{h.mitsu_url}}" target="_blank">
                        <span style="color: #008b8b;"><i class="bi bi-box-arrow-up-right"></i></span></a> {{h.mitsu_num}}-{{h.mitsu_ver}}</div>
                    <div style="width: 45px;">
                        {% if h.order_kubun == "新規" %}
                            <div class="order order_1">新規</div>
                        {% elif h.order_kubun == "追加" %}
                            <div class="order order_2">追加</div>
                        {% elif h.order_kubun == "追加新柄" %}
                            <div class="order order_3">新追</div>
                        {% elif h.order_kubun == "刷り直し" %}
                            <div class="order_4">刷直</div>
                        {% elif h.order_kubun == "返金" %}
                        <div class="order_4">返金</div>
                        {% endif %}
                    </div>
                    <div style="width: 210px;">{% if h.com %}{{h.com | truncatechars:14}}{% endif %}</div>
                    <div style="width: 110px;">{% if h.sei %}{{h.sei}}{% endif %} {% if h.mei %}{{h.mei}}{% endif %}</div>
                    <div style="width: 100px;">{% if h.status %}<span class="order_use">{{h.status}}</span>{% endif %}</div>
                    <div style="width: 150px;">金額：{{h.money | intcomma}}円</div>
                    <div>非表示設定：{{h.hidden_day}}</div>
                    
                </div>
                {% endfor %}
            </div>


        </div>

    </div>
    
    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        // 再表示設定
        document.getElementById("btn_hidden").addEventListener("click",function(){
            var item=document.getElementsByName("hidden_list");
            var hidden_list=[];
            for (var i=0; i<item.length; i++){
                if (item[i].checked){
                    hidden_list.push(item[i].id);
                };
            };
            if (hidden_list.length==0){
                window.alert("対象がチェックされていません！");
                return
            }
            hidden_list=JSON.stringify(hidden_list);
            $.ajax({
                    'url': '{% url "sfa:hidden_to_show" %}',
                    'type': 'POST',
                    'data': {"hidden_list":hidden_list},
                    'dataType': 'json'
            })
            .done(function(response){
                window.location.reload();
                window.alert("案件管理一覧に再表示しました！");
            })
        });
  
    </script>

</body>
</html>