{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'whale.gif' %}">
    <title>FC案件管理一覧</title>
</head>
<body>

    <div class="mt-3 mb-5">

        

        <div style="margin: 0 auto; width: 1150px;">
            
            <!-- メニュー -->
            <div style="margin: 0 auto; width: 1150px">
                {% include "sfa/menu.html" with act_user=act_user %}
            </div>
            <hr>

            <div class="flex">
                <div class="block_title">{{busho_name}}　案件管理一覧</div>
                {% if alert_all > 0 %}
                <div class="flash" style="margin-left: 50px;">
                    <div class="flash-text"><span style="color: yellow;"><i class="bi bi-bell-fill"></i></span> アラート発生中：{{alert_all}}件</div>
                </div>
                {% endif %}                
            </div>
            <hr>
            <!-- フィルター -->
            <div>
                <form action="{% url 'sfa:sfa_search' %}" method="post" name="form_filter">{% csrf_token %}

                    <div class="flex3">
                        <div class="flex">
                            <div>担当者：</div>
                            <div>
                                <select class="form-select" name="tantou_id" style="width: 150px;" required>
                                    <option value=""></option>
                                    {% for i in tantou_list %}
                                        {% if i.tantou_id == tantou_id %}
                                        <option value="{{i.tantou_id}}" selected>{{i.tantou}}</option>
                                        {% else %}
                                        <option value="{{i.tantou_id}}">{{i.tantou}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>   
                            </div>
                            <div style="margin-left: 30px;">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-eye"></i> 表示</button>
                            </div>
                            <div style="margin-left: 30px;">
                                <button class="btn btn-outline-dark btn-sm" id="form_clear"><i class="bi bi-eraser"></i> クリア</button>
                            </div>
                        </div>
                        <div>
                            {% if act_user != "担当者が未設定です" %}
                            <button class="btn btn-danger" id="api_reload"><i class="bi bi-arrow-repeat"></i> データ取得</button>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="flex mt-4">
                        <div>会社名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="com" name="com" style="width: 200px;" value="{{ses.com}}"></div>
                        <div style="margin-left: 30px;">姓：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_sei" name="cus_sei" style="width: 70px;" value="{{ses.cus_sei}}"></div>
                        <div style="margin-left: 30px;">名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_mei" name="cus_mei" style="width: 70px;" value="{{ses.cus_mei}}"></div>
                        <div style="margin-left: 30px;">見積番号：</div>
                        <div><input class="form-control form-control-sm" type="text" id="mitsu_num" name="mitsu_num" style="width: 80px;" value="{{ses.mitsu_num}}"></div>
                    </div>

                </form>    
            </div>
            <hr>



            <!-- FC用 -->
            <div style="margin-top: 15px;">
                {% for i in sfa_list %}
                    {% if i.parent.alert == 1 %}
                    <div class="sfa_main_alert">
                    {% else %}
                    <div class="sfa_main">
                    {% endif %}
                        <!-- 顧客情報 -->
                        <div class="flex3" style="align-items: center;">
                            <div class="flex">
                                <div style="width: 115px;">
                                    <div style="margin-left: 5px;">
                                        <a href="{{i.parent.cus_url}}" target="_blank"><span style="color: #ff8484;"><i class="bi bi-box-arrow-up-right"></i></span></a>
                                        <span style="font-size: 0.9em;">{{i.parent.cus_id}}</span>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        {% if i.parent.eye_count_1 != 0 %}
                                        <button class="detail btn-sticky" id="btn_est_show_{{i.parent.cus_id}}"
                                            name="btn_est_show" style="display: block;">全案件表示</button>
                                        {% else %}
                                        <button class="detail btn-sticky" id="btn_est_show_{{i.parent.cus_id}}"
                                            name="btn_est_show" style="display: none;">全案件表示</button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div style="width: 50px;">
                                    {% if i.parent.alert == 1 %}
                                    <span class="bell"><i class="bi bi-bell-fill"></i></span>
                                    {% else %}
                                        {% if i.parent.alert_set == 1 %}
                                        <span><i class="bi bi-alarm"></i></span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="width: 250px;">
                                    <div>{% if i.parent.com %}{{i.parent.com | truncatechars:14}}{% endif %}</div>
                                    <div>
                                        {% if i.parent.sei %}{{i.parent.sei}}{% endif %}
                                        {% if i.parent.mei %}{{i.parent.mei}}{% endif %}
                                    </div>
                                </div>
                                <div style="width: 200px;">
                                    <div>最終更新：{{i.parent.update_last_num}}-{{i.parent.update_last_ver}}</div>
                                    <div>（{{i.parent.update_last_day}}）</div>
                                </div>
                                <div class="flex" style="width: 300px;">
                                    <div>未({{i.parent.status_count.未}})</div>
                                    <div style="margin-left: 10px;">見({{i.parent.status_count.見}})</div>
                                    <div style="margin-left: 10px;">イ({{i.parent.status_count.イ}})</div>
                                    <div style="margin-left: 10px;">受({{i.parent.status_count.受}})</div>
                                    <div style="margin-left: 10px;">発({{i.parent.status_count.発}})</div>
                                    <div style="margin-left: 10px;">終({{i.parent.status_count.終}})</div>
                                </div>
                                <div>
                                    <div>受注：{{i.parent.juchu_all}}件</div>
                                    <div>金額：{{i.parent.juchu_money | intcomma}}円</div>
                                </div>
                            </div>
                            <div style="width: 50px;">
                                <button type="button" class="btn btn-outline-secondary btn-sm" style="border-radius: 50%;"  id="modal_{{i.parent.cus_id}}" name="cus_list"
                                    data-bs-toggle="modal" data-bs-target="#modal_cus">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </div>
                        </div>
                        
                        <!-- 見積情報 -->
                        <div>
                            {% if i.parent.eye_count_0 != 0 %}
                            <div id="est_hr_{{i.parent.cus_id}}" style="display: block;"><hr></div>
                            {% else %}
                            <div id="est_hr_{{i.parent.cus_id}}" style="display: none;"><hr></div>
                            {% endif %}

                            {% for h in i.child %}

                                {% if h.eye == 0 %}
                                <div style="display: block;" name="est_cus_{{h.cus_id}}" id="est_eye_{{h.mitsu_id}}">
                                {% else %}
                                <div style="display: none;" name="est_cus_{{h.cus_id}}" id="est_eye_{{h.mitsu_id}}">
                                {% endif %}

                                    <div id="est_show_{{h.mitsu_id}}" style="display: block;">

                                        {% if h.s_status == "未" %}
                                        <div class="flex sfa_sub" style="background-color: #FFF;">
                                        {% elif h.s_status == "見" %}
                                        <div class="flex sfa_sub" style="background-color: #ceffb7;">
                                        {% elif h.s_status == "イ" %}
                                        <div class="flex sfa_sub" style="background-color: #c8f7fd;">
                                        {% elif h.s_status == "受" %}
                                        <div class="flex sfa_sub" style="background-color: #fff9a7;">
                                        {% elif h.s_status == "発" %}
                                        <div class="flex sfa_sub" style="background-color: #dbbbff;">
                                        {% elif h.s_status == "キ" %}
                                        <div class="flex sfa_sub" style="background-color: #c5c5c5;">
                                        {% elif h.s_status == "終" %}
                                        <div class="flex sfa_sub" style="background-color: #ffbcbc;">
                                        {% elif h.s_status == "保" %}
                                        <div class="flex sfa_sub" style="background-color: #FFF;">
                                        {% endif %}
                                            
                                            <div style="width: 40px;"><div class="order_use">{{h.s_status}}</div></div>
                                            <div style="width: 100px; cursor: pointer;">{{h.make_day}}</div>
                                            <div style="width: 100px;">
                                                <a href="{{h.mitsu_url}}" target="_blank"><span style="color: #008b8b;"><i class="bi bi-box-arrow-up-right"></i></span></a>
                                                {% if i.parent.update_last_num == h.mitsu_num and i.parent.update_last_ver == h.mitsu_ver %}
                                                <span style="font-weight: bold;">{{h.mitsu_num}}-{{h.mitsu_ver}}</span>
                                                {% else %}
                                                <span>{{h.mitsu_num}}-{{h.mitsu_ver}}</span>
                                                {% endif %}
                                            </div>
                                            <div style="width: 80px;">
                                                {% if h.order_kubun == "新規" %}
                                                    <div class="order order_1">新規</div>
                                                {% elif h.order_kubun == "追加" %}
                                                    <div class="order order_2">追加</div>
                                                {% elif h.order_kubun == "追加新柄" %}
                                                    <div class="order order_3">新追</div>
                                                {% elif h.order_kubun == "刷り直し" %}
                                                    <div class="order_4">刷直</div>
                                                {% elif h.order_kubun == "返金" %}
                                                <div class="order_4">返金</div>
                                                {% endif %}
                                            </div>
                                            
                                            <div style="width: 90px;">{{h.money | intcomma}}円</div>
                                            <div style="width: 150px;">{% if h.nouhin_kigen %}期限：{{h.nouhin_kigen}}{% endif %}</div>
                                            <div style="width: 185px;">{% if h.nouhin_shitei %}指定：{{h.nouhin_shitei}}{% endif %}</div>
                                            <div style="width: 150px;">{% if h.juchu_day %}受注：{{h.juchu_day}}{% endif %}</div>
                                            <div style="width: 150px;">{% if h.hassou_day %}発送：{{h.hassou_day}}{% endif %}</div>
                                            <div style="width: 30px;">
                                                <span class="eye" style="font-size: 1.2em;" id="eye_{{h.mitsu_id}}:cus_{{h.cus_id}}" name="btn_eye">
                                                    {% if h.eye == 0 %}
                                                    <i class="bi bi-eye"></i>
                                                    {% else %}
                                                    <i class="bi bi-eye-slash"></i>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div style="width: 25px;" id="show_{{h.mitsu_id}}" name="btn_show">
                                                <span class="eye"  style="font-size: 1.2em;"><i class="bi bi-x-square"></i></span>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>

            
            <!-- ページネーション -->
            <div style="margin: 0 auto;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-5">
                    <li class="page-item"><a class="page-link" href="{% url 'sfa:sfa_page_first' %}">最初へ</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'sfa:sfa_page_prev' %}">前へ</a></li>
                    <li class="page-item"><a class="page-link" pointer-events: none;>{{num}}/{{all_num}}</a></li>               
                    <li class="page-item"><a class="page-link" href="{% url 'sfa:sfa_page_next' %}">次へ</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'sfa:sfa_page_last' %}">最後へ</a></li> 
                    </ul>
                </nav>
            </div>
 

            <!-- モーダル -->
            {% include "sfa/modal_code.html" %}

        </div>
    </div>


      

    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        

        // 検索フォームクリア
        document.getElementById("form_clear").addEventListener("click",function(e){
            e.preventDefault();
            document.getElementById("com").value="";
            document.getElementById("cus_sei").value="";
            document.getElementById("cus_mei").value="";
            document.getElementById("mitsu_num").value="";
        })


        // APIデータ取得
        document.getElementById("api_reload").addEventListener("click",function(e){
            e.preventDefault();
            document.getElementById("api_reload").disabled=true;
            window.location.href="{% url 'sfa:index_api' %}";
        })


        // オープン表示ボタン
        var eye=document.getElementsByName("btn_eye");
        for (var i=0; i<eye.length; i++){
            eye[i].addEventListener("click",function(){
                var mitsu_id=this.id.split(":")[0].replace("eye_","");
                var cus_id=this.id.split(":")[1].replace("cus_","");
                $.ajax({
                    'url': '{% url "sfa:open_eye" %}',
                    'type': 'POST',
                    'data': {"mitsu_id":mitsu_id},
                    'dataType': 'json'
                })
                .done(function(response){
                    var btn_all=document.getElementById("btn_est_show_" + cus_id);
                    var open_eye=document.getElementById("eye_" + mitsu_id + ":cus_" + cus_id);
                    
                    btn_all.style.display="block";

                    if (response.eye == 0){
                        open_eye.innerHTML="<i class='bi bi-eye'></i>";
                    } else {
                        open_eye.innerHTML="<i class='bi bi-eye-slash'></i>";
                    };

                    if (btn_all.innerText == "全案件表示"){
                        document.getElementById("est_eye_" + mitsu_id).style.display="none";
                    }
                })
            })
        }


        // 非表示ボタン
        var show=document.getElementsByName("btn_show");
        for (var i=0; i<show.length; i++){
            show[i].addEventListener("click",function(){
                var ans =confirm("この案件を非表示にしますか？");
                if (ans == false){
                    return
                }
                var mitsu_id=this.id.replace("show_","");
                $.ajax({
                    'url': '{% url "sfa:show_hidden" %}',
                    'type': 'POST',
                    'data': {"mitsu_id":mitsu_id},
                    'dataType': 'json'
                })
                .done(function(response){
                    document.getElementById("est_show_" + mitsu_id).style.display="none";
                })
            })
        }


        // 全案件表示ボタン
        var est_show=document.getElementsByName("btn_est_show");
        for (var i=0; i<est_show.length; i++){
            est_show[i].addEventListener("click",function(){
                var cus_id=this.id.replace("btn_est_show_","");
                if (this.innerText == "全案件表示"){
                    var est_cus=document.getElementsByName("est_cus_" + cus_id);
                    for (h=0; h<est_cus.length; h++){
                        est_cus[h].style.display ="block";
                        this.innerText="閉じる";
                    }
                    document.getElementById("est_hr_" + cus_id).style.display="block";
                } else {
                    window.location.reload();
                }
            })
        }

    </script>

    <!-- モーダル_script -->
    {% include "sfa/modal_script.html" %}


</body>
</html>