
<!-- モーダル -->
 
<div class="modal fade" id="modal_cus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header" id="modal_header">
                <div id="exampleModalLabel"></div>
                <div class="flex">
                    <div id="modal_cus_url"></div>
                    <div id="modal_cus_id" style="margin-left: 5px;"></div>
                    <div class="flex" id="modal_alert_show" style="margin-left: 70px; display: none;">
                        <div style="font-size: 1.2em;">
                            <span id="modal_alert_num" style="display: none;"></span>
                            <span class="bell"><i class="bi bi-bell-fill"></i></span>
                            <span id="modal_alert_text" style="color: #ff0000; font-weight: bold; margin-left: 5px;"></span>
                        </div>
                        <div style="margin-left: 20px;">
                            <button type="button" class="btn btn-danger btn-sm" id="modal_alert_check">
                                <i class="bi bi-hand-thumbs-up"></i> アラート解除
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="modal_btn_close"></button>
            </div>
            <!-- BODY -->
            <div class="modal-body">
                <div class="flex2" style="margin-left: 10px;">
                    <!-- 左側 -->
                    <div>
                        <div>
                            <table class="table table-bordered" style="width: 520px;">
                                <tbody>
                                    <tr><th style="width: 100px;">会社名</th><td id="modal_com"></td></tr>
                                    <tr><th>部課名</th><td id="modal_busho"></td></tr>
                                    <tr><th>氏名</th><td id="modal_cus_name"></td></tr>
                                    <tr><th>住所</th><td id="modal_address"></td></tr>
                                    <tr><th>電話番号</th><td id="modal_tel"></td></tr>
                                    <tr><th>携帯番号</th><td id="modal_mob"></td></tr>
                                    <tr><th>メール</th><td id="modal_mail"></td></tr>
                                    <tr><th>顧客登録日</th><td id="modal_touroku"></td></tr>  
                                </tbody>
                            </table>
                        </div>
                        <div style="margin-top: 20px;">
                            <div>■備考</div>
                            <div class="flex" style="margin-top: 5px;">
                                <div style="width: 450px;"><textarea class="form-control" rows="5" id="modal_bikou"></textarea></div>
                                <div style="margin-left: 20px;"><button class="btn btn-secondary btn-sm" id="modal_btn_bikou">決定</button></div>
                            </div>
                        </div>
                        <div style="margin-top: 20px;">
                            <div>■時系列コメント</div>
                            <div class="flex" style="margin-top: 5px;">
                                <div class="time_icon" id="icon_1" name="icons">
                                    <span style="color: #0000ff; font-weight: bold;"><i class="bi bi-telephone-forward-fill"></i></span> TEL
                                </div>
                                <div class="time_icon" id="icon_2" name="icons" style="margin-left: 10px;">
                                    <span style="color: #ff9900; font-weight: bold;"><i class="bi bi-envelope-fill"></i></span> メール
                                </div>
                                <div class="time_icon" id="icon_3" name="icons" style="margin-left: 10px;">
                                    <span style="color: #646565; font-weight: bold;"><i class="bi bi-clipboard-fill"></i></span> メモ
                                </div>
                                <div class="time_icon" id="icon_4" name="icons" style="margin-left: 10px;">
                                    <span style="color: #ff3502; font-weight: bold;"><i class="bi bi-shop"></i></span> 来店
                                </div>
                                <div class="time_icon" id="icon_5" name="icons" style="margin-left: 10px;">
                                    <span style="color: #00c2b8; font-weight: bold;"><i class="bi bi-people-fill"></i></span> 外商
                                </div>
                                <div class="time_icon" id="icon_6" name="icons" style="margin-left: 10px;">
                                    <span style="color: #ff0000; font-weight: bold;"><i class="bi bi-bell-fill"></i></span> アラート
                                </div>
                            </div>
                            <div class="flex mt-3">
                                <div>種類：</div>
                                <div>
                                    <select class="form-select form-select-sm" id="modal_bot_type">
                                        <option value="0"></option>
                                        <option value="1">TEL</option>
                                        <option value="2">メール</option>
                                        <option value="3">メモ</option>
                                        <option value="4">来店</option>
                                        <option value="5">外商</option>
                                        <option value="6">アラート</option>
                                    </select>
                                </div>
                                <div style="margin-left: 20px;">日付：</div>
                                <div><input class="form-control form-control-sm" type="date" id="modal_bot_day" style="width: 120px;"></div>
                                <div style="margin-left: 20px;"><button class="btn btn-outline-dark btn-sm" id="modal_btn_bot_new">新規</button></div>
                                <div style="margin-left: 15px;"><button class="btn btn-outline-danger btn-sm" id="modal_btn_bot_del">削除</button></div>
                                <div id="act_id" style="display: none;"></div>
                            </div>
                            <div class="flex">
                                <div style="margin-top: 10px; width: 450px;"><textarea class="form-control" rows="3" id="modal_bot_text"></textarea></div>
                                <div style="margin-left: 20px;"><button class="btn btn-secondary btn-sm" id="modal_btn_bot">決定</button></div>
                            </div>
                            
                            
                        </div>
                    </div>

                    <!-- 右側 -->
                    <div style="margin-left: 35px;">
                        <div class="flex">
                            <div>表示：</div>
                            <div style="width: 75px;">
                                <select class="form-select form-select-sm" id="modal_sort">
                                    {% if modal_sort == "0" %}
                                    <option value="0" selected>昇順</option>
                                    <option value="1">降順</option>
                                    {% else %}
                                    <option value="0">昇順</option>
                                    <option value="1" selected>降順</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="inlineframe" id="modal_cus_action" style="height: 700px; width: 530px; margin-top: 5px;"></div>
                    </div>

                </div>   
            </div>
            <!-- footer -->
            <div class="modal-footer" style="width: 100%;">    
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close" name="modal_btn_close">閉じる</button>
            </div>
        </div>
    </div>
</div>
